<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />

    <title>Backend | Home</title>
</head>
<body>
    <script src="/js front/index.js"></script>
    <%- include('partials/header'); %>
    <% if(!locals.logeado) {%> 
        <a class="elboton" href="/register">Registrate</a>
    <% } %> 
    <section>
        <img class="carrusel" src="/img/Untitled-Project.jpg" alt="carrusel">
    </section>
    <div class="contenido">
    <div class="elegi">
    <p>Elegí entre los más buscados</p>
    <a href="/products" class="ver">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
    </div>

    <section class="categorias"> 
        <% for (cadauno of uno) { %>
            <div>
                <ul class="ul">
                    <form action="/products/languages/<%= cadauno.id %> " method="GET">
                        <input class="aa" type="submit" value="<%= cadauno.name %> ">
                    </form>
                </ul>
                <!--<ul class="ul">
                    <li class="aa"><a class="aaa" href="/products/<%= cadauno.id %>"><%=cadauno.name%></a></li>
                </ul><!-->
            </div>
        <%  } %>
    </section>
    </div>
    <section class="integrantesymapa">
        <div class="contenedorintegrantes">
            <div class="eleginos">
                <p>¿Por qué elegirnos?</p>
            </div>
            <div class="ele">
            <div>
                <ul class="la">
                    <li class="le"><i class="far fa-thumbs-up"></i></i>
                    <li class="ee">Cuando seas alumno oficialmente, obtendrás asesoramiento y seguimiento personalizado por parte de los profesores</li>
                </ul>
            </div>
                <div>
                    <ul class="la">
                        <li class="le"><i class="fas fa-credit-card"></i></i>
                        <li class="ee">El primer mes de cursada es gratis. Si no te gustó, quedás libre y no debés abonar nada</li>
                    </ul>
                </div>
                <div>
                    <ul class="la">
                        <li class="le"><i class="fas fa-user-graduate"></i></i>
                        <li class="ee">Al finalizar el curso elegido, tendrás en tus manos un diploma otorgado por el Ministerio de Educación</li>
                    </ul>
                </div>
                <div>
                    <ul class="la">
                        <li class="le"><i class="far fa-bookmark"></i></i>
                        <li class="ee">Durante toda la cursada contarás con material técnico y seleccionado especialmente para una completa formación</li>
                    </ul>
                </div>
            </div>
            </div>
    </section>

    <div class="container">
    <section class="seccionvendidos">
        <p class="masvendidos">Cursos más vendidos</p>
        <article class="articulo">
            <a class="a" href="/products/<%= dos.id %> ">
                <ul class="ulvendidos">
                    <li id="eltitulo" class="cursos1"><%= dos.name %> </li>
                    <li id="eltexto" class="cursos1"><%= dos.description %> </li>
                    <li id="lafecha" class="cursos1">Fecha de inicio: <%= dos.date %> </li>
                </ul>
            </a>
            <a  class="a" href="/products/<%= tres.id %> ">
            <ul class="ulvendidos">
                <li id="eltitulo" class="cursos1"><%= tres.name %> </li>
                <li id="eltexto" class="cursos1"><%= tres.description %> </li>
                <li id="lafecha" class="cursos1">Fecha de inicio: <%= tres.date %> </li>
            </ul>
            </a>
            <a  class="a" href="/products/<%= cuatro.id %> ">
            <ul class="ulvendidos">
                <li id="eltitulo" class="cursos1"><%= cuatro.name %> </li>
                <li id="eltexto" class="cursos1"><%= cuatro.description %> </li>
                <li id="lafecha" class="cursos1">Fecha de inicio: <%= cuatro.date %> </li>
            </ul>
            </a>
            <a  class="a" href="/products/<%= cinco.id %> ">
            <ul class="ulvendidos">
                <li id="eltitulo" class="cursos1"><%= cinco.name %> </li>
                <li id="eltexto" class="cursos1"><%= cinco.description %> </li>
                <li id="lafecha" class="cursos1">Fecha de inicio: <%= cinco.date %> </li>
            </ul>
            </a>
    </article>
    </section>

            <div class="article">
                <article>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/X5Wkp1gsNik?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
            </div>

    <section>
        <div class="divconfian">
            <p class="confian">Algunas empresas que confían en nosotros</p>
        </div>
        <div class="titulo">
        <div class="en">
            <img class="empresas" src="/img/bbva_logo_portada.jpg" alt="">
            <img class="empresas" src="/img/1584487204_LOGOCODOS_fondoblanco-01.png" alt="">
            <img class="empresas" src="/img/descarga.png" alt="">
            <img class="empresas" src="/img/logo_trivago_antes.jpg" alt="">
            <img class="empresas" src="/img/Movistar-azul-vertical-thumbnail.jpg" alt="">
        </div>
    </div>
</div>
    </section>
    <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>
    </div>
    <%- include('partials/footer'); %>