<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/productlistdos.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />
    <title><%= valor.name %></title>
</head>
<body>
    <script src="/js front/productlistdos.js"></script>
    <%- include('partials/header'); %>

    <div class="grid">
    <div>
        <section class="seccion">
            <% if (locals.logeado) {%> 
        <% for (cadauno of valor.languagesproducts) {%>
            <div class="cajas">
                <div class="ancho">
                    <ul>
                        <div class="nombreyver">
                            <li  id="curso"><a href="/products/<%= cadauno.id %>"><%= cadauno.name %></a></li>
                            <li class="centro"><a class="ver" href="/products/<%= cadauno.id %> ">Ver curso <i class="fas fa-arrow-right"></i></a></li>
                        </div>
                        <li class="li"> <p class="es"></p> <%= cadauno.description %> </li>
                        <div class="liyboton">
                            <div>
                                <li id="lenguaje"  class="li">Duración : <%= cadauno.duration %> meses</li>
                                <li class="li">Valor : $<%= cadauno.value %></li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div> 
                    <div class="relative">
                        <% if (locals.logeado.admin == 1) {%>
                            <form action="/products/<%= cadauno.id %>/edit" method="GET">
                                <input class="input" type="submit" value="Editar">
                            </form>
                            <form action="/products/<%= cadauno.id %>/?_method=DELETE" method="POST">
                                <input class="input" type="submit" value="Eliminar">
                            </form>
                        <% } %> 
                        <p class="pdela"><a href="" data-AgregarId="<%= cadauno.id %>" id="inputagregar" class="botonagregar">Agregar</a></p>
                        <a href="" class="favoritoss" data-favouriteId="<%= cadauno.id %> "><i style="color: red;" class="fas fa-heart"></i> Agregar a favoritos</a>
                    </div>
                </div>
            </div>
                    <% } %>
                <% } else {%> 
                    <% for (cadauno of valor.languagesproducts) {%>
                        <div class="cajas">
                            <div>
                                <ul>
                                    <div class="nombreyver">
                                    <li  id="curso"><a href="/products/<%= cadauno.id %>"><%= cadauno.name %></a></li>
                                    <li class="centro"><a class="ver" href="/products/<%= cadauno.id %> ">Ver curso <i class="fas fa-arrow-right"></i></a></li>
                                    </div>
                                    <li class="li"> <%= cadauno.description %> </li>
                                    <div class="liyboton">
                                        <div>
                                            <li id="lenguaje" class="li">Duración : <%= cadauno.duration %> meses</li>
                                            <li class="li">Valor : $<%= cadauno.value %></li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                            <% } %>
        <% } %>
    </section>
</div>
</div>

    <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>
    </div>
    <%- include('partials/footer'); %>