<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />

    <title>Shop</title>
</head>
<body>
    <script src="/js front/cart.js"></script>
    <%- include('partials/header'); %>
    <a class="vermas" href="">Ver más</a>

    <section>
        <img class="carrusel" src="/img/fewfew.jpg" alt="carrusel">
    </section>

    <div class="micarrito">
        <p>Mi Carrito</p>
    </div>

    <div class="contenido">
        <% var suma = 0; %> 
        <% for (cadauno of uno.productsusers) {%>
            <div class="caja">
            <div class="nameyplata">
                <p class="name"><%= cadauno.name %></p>
                <p class="enlinea">Inicio: <%= cadauno.date %></p>
                <p class="moni">$ <%= cadauno.value %></p>
            </div>
                <form action="/cart/<%- cadauno.id %>/delete" method="POST">
                    <button class="botoneliminar"><i class="fas fa-trash"></i></button>
                </form>
                <% suma + cadauno.value; %> 
            </div>
        <% } %>

            <div class="probar2">
                <article class="articulo2">
                    <div class="interno">
                        <p class="resumen">Resumen de compra</p>
                        <ul>
                            <% for (valores of uno.productsusers) {%>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde"><%= valores.name %></p>
                                    <p class="solomargin">$ <%= valores.value %></p>
                                </div>
                            </li>
                            <% } %> 
                           
                        </ul>
                        <form class="formdescuento" action="">
                    <input class="descuento" type="text" placeholder="coloca aqui tu cupon de descuento">
                </form>
                    <div class="flex2">
                        <div class="total">Total</div>
                        <div class="ultimo">$<%= suma %> </div>
                    </div>
                    <div class="ultimo2">
                        <a class="comprar" href="">Comprar</a>
                    </div>
                    </div>
                </article>
            </div>
        <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>
    </div>
        <%- include('partials/footer'); %>