<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/productAdd.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />

    <title>Create</title>
</head>
<body>
    <script src="/js front/productAdd.js"></script>
    <%- include('partials/header'); %>
<div class="contenido">
    <section class="sess">
        <p class="carga">Carga de productos</p>
        <p class="campos">Todos los campos son obligatorios</p>
        <form class="formulario" action="/products/create" method="POST">
        <article>
            <div id="errornombre">
                <p style="color: red;"><%= errors.nombre ? errors.nombre.msg : '' %></p>
            </div>
            <label for="nombrecurso">Nombre del curso</label>
            <input type="text" name="nombre" id="nombre">
        </article>
        <article>
            <div id="errorlenguaje">
                <p style="color: red;"><%= errors.lenguaje ? errors.lenguaje.msg : '' %></p>
            </div>
            <div id="errormodalidad">
                <p style="color: red;"><%= errors.modalidad ? errors.modalidad.msg : '' %></p>
            </div>
            <label for="lenguaje">Id del lenguaje</label>
            <input class = "chico" type="text" name="lenguaje" id="lenguaje">
            <label id="labelmodalidad" for="lenguaje">Id de la modalidad</label>
            <input class = "chico" type="text" name="modalidad" id="modalidad">
        </article>
        <article>
            <div id="errordescripcion">
                <p style="color: red;"><%= errors.descripcion ? errors.descripcion.msg : '' %></p>
            </div>
            <div id="errorcontenido">
                <p style="color: red;"><%= errors.contenido ? errors.contenido.msg : '' %></p>
            </div>
            <div class="textarea2">
                <label for="contenido">Descripción</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>

                <label for="contenido">Contenido</label>
                <textarea name="contenido" id="contenido" cols="30" rows="10"></textarea>
            </div>
        </article>

        <article>
            <div id="errorinicio">
                <p style="color: red;"><%= errors.fechainicio ? errors.fechainicio.msg : '' %></p>
            </div>
            <div id="errorduracion">
                <p style="color: red;"><%= errors.duracion ? errors.duracion.msg : '' %></p>
            </div>
            <div id="errorvalor">
                <p style="color: red;"><%= errors.valor ? errors.valor.msg : '' %></p>
            </div>
                <label for="fechainicio">Fecha de inicio</label>
                <input class="chico" type="date" name="fechainicio" id="fechainicio">
                
                <label class="solo2" for="">Duración (en meses)</label>
                <input class = "chico" type="text" name="duracion" id="duracion">
                <label class="solo2" for="">Valor ($)</label>
                <input class = "chico" type="text" name="valor" id="valor">
        </article>

        <article class="articulo5">
            <input type="submit" value="Guardar">
            <input type="reset" value="Reiniciar">
        </article>
        <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>
    </form>
    </section>
</div>
    <%- include('partials/footer'); %>