<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTADO DE PRODUCTOS</h1>

    <% for (cadauno of convierto) {%>
        <ul>
            <li><%= cadauno.lenguaje %> </li>
            <li><%= cadauno.nombre_curso %> </li>
            <li><%= cadauno.descripcion %> </li>
        </ul>
        <form action="/products/<%= cadauno.id %>/edit" method="GET">
            <input type="submit" value="Editar">
        </form>
        <form action="/products/<%= cadauno.id %>/?_method=DELETE" method="POST">
            <input type="submit" value="Eliminar">
        </form>
    <% } %>
</body>
</html>