<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />

    <title>Register</title>
</head>
<body>
    <script src="/js front/register.js"></script>
    <%- include('partials/header'); %>
    <section class="seccion">
        <div class="div1"> 
            <p class="campos">Todos los campos son obligatorios</p>

            <form id="elformulario" action="/register" method="POST" enctype="multipart/form-data">
        <div class="errors1">
            <div id="uno">
                <% if (errors.nombre) { %>
                    <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.nombre.msg %> </div>
                <% } else {
                    ''
                }%>
            </div>
            <div id="dos">
                <% if (errors.apellido) { %>
                    <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.apellido.msg %> </div>
                <% } else {
                    ''
                }%>
            </div>
        </div>
            <div class="nombreyapellido">
                <input id="inputnombre" type="text" name="nombre" placeholder="Nombre" value="<%= body.nombre ? body.nombre : '' %>">
                <input id="inputapellido" type="text" name="apellido" placeholder="Apellido" value="<%= body.apellido ? body.apellido : '' %>">
            </div>
            <div class="errors1">
                <div id="tres">
                    <% if (errors.email) { %>
                        <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.email.msg %> </div>
                    <% } else {
                        ''
                    }%>
                </div>
            </div>
            <div>
                <input class="inputmail" type="text" name="email" placeholder="Mail" value="<%= body.email ? body.email : '' %> ">
            </div>
            <div id="parajs" class="errors1">
                <div id="errorcontra">
                    <% if (errors.contraseña && !errors.confirmarla) { %>
                        <div class="flex"><i style="color: red;" class="fas fa-exclamation"></i><p class="centra"><%= errors.contraseña.msg %></p> </div>
                    <% } %> 
                </div>
                <div id="errorccontra">
                    <%  if (errors.confirmarla && !errors.contraseña) { %>
                        <div class="flex"><i style="color: red;" class="fas fa-exclamation"></i><p class="centra"><%= errors.confirmarla.msg %></p> </div>
                    <% } %> 
                </div>
                <div class="margen">
                    <%  if (errors.contraseña && errors.confirmarla) {%>
                        <div id="errors4"><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.contraseña.msg %> </div>
                        <div id="errors3"><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.confirmarla.msg %> </div>
                        <% } %>
                </div>
            </div>
            <div class="contras">
                <input id="inputcontra" type="password" name="contraseña" placeholder="Contraseña">
                <input id="inputccontra" type="password" name="confirmarla" placeholder="Confirmar contraseña">
            </div>
            <div class="errors1">
                <div>
                    <% if (errors.imagen) { %>
                        <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.imagen.msg %> </div>
                    <% } else {
                        ''
                    }%>
                </div>
            </div>
        <div class="imagen">
            <label for="">Foto de perfil (opcional)</label>
            <input type="file" name="imagen">
        </div>
    </div>
        <div class="terminos"><p>Al hacer clic en crear cuenta, aceptás las <a class="condiciones" href="">Condiciones de uso y la Política de privacidad</a> de Backend</p></div>
    <div class="otros">
        <div>
            <div class="divcrearcuenta">
                    <input class="crearcuenta" type="submit" value="Crear cuenta">
            </div>
        </form>
            <div class="grid2">
                    <p class="registrado">¿Ya estás registrado?</p>
                    <a id="verse" class="iniciala" href="/login">Inicia sesión <i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        </div>
    </div>
    </section>

    <%- include('partials/footer'); %>